<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='number/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='number/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='number/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='number/css'>

  
</head>

<body>
 <div class="login">
	<h1>House Price Predication</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="number" name="MSSubClass" placeholder="MSSubClass" required="required" step="any"/>
        <input type="number" name="MSZoning" placeholder="MSZoning" required="required" step="any"/>
		<input type="number" name="Neighborhood" placeholder="Neighborhood" required="required" step="any"/>
		<input type="number" name="OverallQual" placeholder="OverallQual" required="required" step="any"/>
		<input type="number" name="YearRemodAdd" placeholder="YearRemodAdd" required="required" step="any"/>
		<input type="number" name="RoofStyle" placeholder="RoofStyle" required="required" step="any"/>
        <input type="number" name="BsmtQual" placeholder="BsmtQual" required="required" step="any"/>
        <input type="number" name="BsmtExposure" placeholder="BsmtExposure" required="required" step="any"/>
        <input type="number" name="HeatingQC" placeholder="HeatingQC" required="required" step="any"/>
        <input type="number" name="CentralAir" placeholder="CentralAir" required="required" step="any"/>
        <input type="number" name="fstFlrSF" placeholder="fstFlrSF" required="required" step="any"/>
        <input type="number" name="GrLivArea" placeholder="GrLivArea" required="required" step="any"/>
        <input type="number" name="BsmtFullBath" placeholder="BsmtFullBath" required="required" step="any"/>
        <input type="number" name="KitchenQual" placeholder="KitchenQual" required="required" step="any"/>
        <input type="number" name="Fireplaces" placeholder="Fireplaces" required="required" step="any"/>
        <input type="number" name="FireplaceQu" placeholder="FireplaceQu" required="required" step="any"/>
        <input type="number" name="GarageType" placeholder="GarageType" required="required" step="any"/>
        <input type="number" name="GarageFinish" placeholder="GarageFinish" required="required" step="any"/>
        <input type="number" name="GarageCars" placeholder="GarageCars" required="required" step="any"/>
        <input type="number" name="PavedDrive" placeholder="PavedDrive" required="required" step="any"/>
        <input type="number" name="SaleCondition" placeholder="MSSubClass" required="required" step="any"/>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{predication_text}}

 </div>


</body>
</html>